/* 
    Document   : style
    Created on : Feb 2, 2012, 5:06:45 PM
    Author     : jds
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
a:hover {
    text-decoration:none;
    color: gray;
}
a:link,a:visited,a:active{
    text-decoration:none;
    color: blue;
}
#contact {
    margin-top: 5%;
    margin-bottom:5%;
    margin-left:5%;
    height: 100%;
    width: 15%;
    /*
    border-right-color: black;
    border-right-style: inset;
    border-right-width: thin;
    */
    float: left;
}
#contact #name {
    font-weight: bold;
}

#resume{
    border-left-color: black;
    border-left-style: inset;
    border-left-width: thin;
    float: right;
    width:75%;
}

.section {
    margin-left: 5%;
    margin-top:3%;
    text-align: left;
    width:100%;
    margin-right:auto;
}
.section .title {
    font-weight: bold;
}
.subsection {
    margin-bottom: 2%;
}
.subsection .title {
    font-weight: bold;
    margin-left: 3%;
    margin-right: 5%;
}
.subsection .description {
    margin-left: 3%;
}
.entry {
    margin-right: 10%;
}
.section .entry {
    margin-left: 3%;
}
.subsection .entry {
    margin-left: 3%;
}
ul{
    list-style-type: square;
    margin-top: 0;
    margin-bottom:0;
}
#footer {
    margin-top:3%;
    margin-bottom:3%;
}
/****************************************/
#shade{
display:none;
position:fixed;
/*_position:absolute;*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#codesample1{
display:none;
position:fixed;
/*_position:absolute;*/
height:75%;
width:75%;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
overflow-y:auto;
overflow-x:auto;
-moz-border-radius: 15px;
border-radius: 15px;
}
#codesample1 .title{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
padding-bottom:2px;
margin-bottom:20px;
}
#sampleClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#sample1 {
    font-weight: bold;
}